.footer{
    background-color: black;
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
    justify-content: space-between;
}

.footer-right{
    display: flex;
    align-items: center;
    margin: 0 3vh;
}

.profile-links{
    margin: 0 1vh;
    display: inline-block;
}

.profile-links:hover{
    cursor: pointer;
}

.footer-links{
    color: white;
}